doctype html
html(lang='ja')
  -
    const info = {
      title: "Mizucoffee | Books",
      description: "同人サークル Mizucoffee のホームページです。"
    }
  head
    title=info.title
    link(rel='stylesheet', href='/style.css', type='text/css')
    include head
  body
    include header
    main
      div
        h1 Books
        div.books-container
          each item in bookdata
            a.book(href=`${item.id}`)
              img.image(src="./" + item.id + "/" + item.image)
              div.name= item.name
    include footer
