doctype html
html(lang='ja')
  -
    const info = {
      title: "Mizucoffee | data.name | Errata",
      description: "同人サークル Mizucoffee のホームページです。"
    }
  head
    title=info.title
    link(rel='stylesheet', href='/style.css', type='text/css')
    include head
  body
    include header
    main
      div
        h1= data.name + " | 正誤表"
        br
        p= "今の所ありません"
    include footer
