@font-face {
  font-family: "brother1816-medium";
  src: url("./brother1816-medium.eot");
  src: url("./brother1816-medium.eot?#iefix") format("embedded-opentype"), url("./brother1816-medium.woff") format("woff"), url("./brother1816-medium.tff") format("truetype"), url("./brother1816-medium.svg#svgFontName") format("svg");
}

* {
  font-family: 'brother1816-medium';
}
